# Credenciales de PostgreSQL
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# MLflow
MLFLOW_TRACKING_URI=http://mlflow:5000

# Airflow
AIRFLOW__WEBSERVER__SECRET_KEY=change-this-secret-key-in-production
AIRFLOW_WWW_USER_USERNAME=admin
AIRFLOW_WWW_USER_PASSWORD=admin

# Artifact proxy (para la API)
MLFLOW_ARTIFACT_PROXY=http://host.docker.internal:5083